#card-tracker-container {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#card-tracker-container h3 {
  margin: 0;
  margin-bottom: 10px;
}

#card-tracker-container button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

#card-tracker-container #add-cards-button:hover {
  background-color: #45a049;
  /* Darker green for the Add button */
}

#card-tracker-container #clear-cards-button:hover {
  background-color: #d32f2f;
  /* Darker green for the Add button */
}
